@use 'abstracts' as *;

/***** CONTAINER *****/
.container {
    padding: $base-padding * 2;

    @include lg-up {
        padding: $base-padding * 4;
    }
}

.bg-white {
    background-color: $white;
}

.bg-light-gray {
    background-color: $light-gray;
}