@use 'abstracts' as *;

/***** YOUR NEXT INSPO *****/
.inspo {
    text-align: center;

    p {
        margin-bottom: $base-margin * 2.5;

        @include md-up {
            margin-bottom: $base-margin * 3.5; 
        }
    }

    &-item {
        justify-content: space-between;
        flex-direction: column;
        gap: $base-margin * 3;

        @include md-up {
            flex-direction: row;
        }

        @include xl-down {
            flex-wrap: wrap;
            justify-content: center;
        }

        @include md-down {
            flex-direction: row;
            
        }
    } 

    .btn-inspo {
        background-color: $black;
        border: none;
        margin-top: $base-margin * 2;

        &:hover {
            background-color: lighten($black, 8);
        }
    }
}